ul {
  list-style: none;
  align-content: baseline;
  padding: 0;

  li {
    width: 100%;
    margin: 5px 0px;
    padding: 15px;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 3px 3px #888888;
  }
}

#tableLabel {
    margin: 10px 0px;
}

.sub-header {
  display: inline-block;
  align-content: center;
  display: flex;
  flex-wrap: wrap;

  p {
    flex-grow: 1;
    flex-basis: 70%;
  }

  p.button-label {
    font-size: medium;
    flex-grow: 1;
    flex-basis: 5%;
  }

  div {
    flex-grow: 1;
    flex-basis: 10%;
    margin-top: -7px;
  }
}
